.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;
}

#bulbasaur {
  position: relative;
  top: 30px;
}

#charmander {
  position: relative;
  top: 40px;
}

#squirtle {
  position: relative;
  top: 90px;
}

#pikachu {
  position: relative;
  top: 150px;
}

#jigglypuff {
  position: relative;
  top: 300px;
}
