.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 70px;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.green {
  color: green;
}

.red {
  color: red;
}
